<% for column in Division.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @division.send(column.name) %>
</p>
<% end %>
<p><b>Teams:</b></p>
<% for team in @division.teams %>
<p><%= link_to %{#{team.name}}, :controller => 'team', :action => 'show', :id => team %></p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @division %> |
<%= link_to 'Back', :action => 'list' %>
