- @divisions.each do |division|
  .division
    %form
      %select
        - division.teams(:order => 'name').each do |team|
          %option{ :name => "team_id", :value => team.id.to_s }= team.name
      %submit= "Go"

