- @divisions.each do |division|
  .division
    %form{ :action => 'team', :method => 'get' }
      = division.name + ' -'
      %select{ :name => 'team_id' }
        - division.teams.each do |team|
          %option{ :value => team.id.to_s }= team.name
      %input{ :type => "submit", :value => "Go" }

