!!! strict
%html
  %head
    %meta{ :content => "text/html; charset=ISO-8859-1", 'http-equiv' => "content-type" }
    %title= "Pickle Spears - " + title
    %link{ :rel => "stylesheet", :href => "stylesheet.css", :type => "text/css" }
  %body
    %div{ :style => "text-align: left; float:left" }
      %a{ :href =>"/phpBB2/" } forums
      |
      %a{ :href => "/pickle-spears/" } home
    %div{ :style => "text-align: right;" }
      - if @user
        = "Welcome #{@user}"
      - else
        %a{ :href => 'sign_in' } sign in
    %hr
    = yield
