!!! Strict
%html
  %head
    %meta{ :content => "text/html; charset=ISO-8859-1", 'http-equiv' => "content-type" }
    %title= "Pickle Spears - now with more vinegar!"
    %link{ :rel => "stylesheet", :href => "pickle_spears.css", :type => "text/css" }
  %body
    = yield
