%a.btn.btn-mini{ href: "/game/#{game.id}/attending_status?status=yes" } Yes
%a.btn.btn-mini{ href: "/game/#{game.id}/attending_status?status=no" } No
%a.btn.btn-mini{ href: "/game/#{game.id}/attending_status?status=maybe" } Maybe
