%a.btn.btn-mini{ href: '/game/attending_status?status=yes', id: game.id } Yes
%a.btn.btn-mini{ href: '/game/attending_status?status=no', id: game.id } No
%a.btn.btn-mini{ href: '/game/attending_status?status=maybe', id: game.id } Maybe
