<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Pickle Spears - homepage</title>

</head>
<body>
<div style="text-align: left; float:left">
<a href="/phpBB2/">forums</a> 
</div>
<div style="text-align: right;">
<%= user.logged_in?() ? user.name() + %q{ | <a href="logout.rb">sign out</a> } : %q{ sign in } %>
<br>
</div>
<hr>
<div style="text-align: center;">
<img src="pickle_spears_logo.jpg" width="275" height="168">
<form method="get" action="search.rb" name="tn_search_form"><input name="team" type="input"><input name="tn_search" value="Team Name Search" type="submit">
<br>
<br>
Browse by: <a href="browse.rb?league=Women">Women</a> | <a href="browse.rb?league=Men">Men</a> | <a href="browse.rb?league=Coed">Coed</a></form>
</div>
</body></html>
