- title "browsing league: #{@league}"
- @divisions.each do |division|
  .division
    = division.name + ' -'
    %ul
    - division.teams.each do |team|
      %li
        %a{ :href => url_for('/team', :team_id => team.id) }= team.name

