- title "now with more vinegar!"
.directions
  %img{ :src => "pickle_spears_logo.jpg", :width => "275", :height => "168", :alt => 'Pickle Spears logo' }
  %h4 What is Pickle Spears?
  %p Pickle Spears is the easiest way to keep track of your favorite sports teams.  Want to start playing on an intramural league, but don't know anyone?  Pickle Spears maintains a list of teams looking for new players, or players looking to join a team.  As a manager, have you ever wondered who was going to show up to your next game?  What about finding subs quickly?  Pickle Spears will send reminder emails to your teammates and will show you who's coming to the next game.

  %p Right now we are working on adding various soccer schedules and teams to our database.  All Portland Indoor teams are represented.  If you want to have your team added, drop me a line.

  %h4 Interested in Joining?
  %p
    %a{ :href=>'/player/create' } Click Here
    to get started!  Membership is free and will always remain free

  %h4 Already a Member?
  %p Sign in using the boxes on the right.

  %h4 Just Browsing?
  %p You can quickly search for a team name, and anytime you're interested in signing up, you can click on the "Join Now" link in the upper right.

  %h4 Other Questions?
  %p
    Drop me a line 
    %a{ :href => 'mailto:ben.prew@gmail.com' } ben.prew@gmail.com

.create_form
  %h4 Search for a Team
  %form{ :method => "get", :action => "/search" }
    %div
      %input{ :name => "team", :type => "text" }
      %input{ :name => "tn_search", :value => "Team Search", :type => "submit" }
  Browse by:
  %a{ :href => "/browse?league=Women" } Women
  |
  %a{ :href => "/browse?league=Men" } Men
  |
  %a{ :href => "/browse?league=Coed" } Coed
  %div
    - @teams.each do |team|
      %p
        %a{ :href => "/team?team_id=#{team.id}"}= team.name
        = "(division #{team.division.league} #{team.division.name})"
  %h4 Sign In
  %form{ :method => "post", :action => '/player/sign_in' }
    %table
      %tr
        %td Email:
        %td
          %input{ :type => "text", :name => "email_address" }
      %tr
        %td Password:
        %td
          %input{ :type => "password", :name => 'password' }
      %tr
        %td
          %input{ :type => 'submit', :value => 'Sign In' }
