- title "now with more vinegar!"
%div.main
  %img{ :src => "pickle_spears_logo.jpg", :width => "275", :height => "168" }
  %form{ :method => "get", :action => "/search", :name => "tn_search_form"}
    %input{ :name => "team", :type => "input" }
    %input{ :name => "tn_search", :value => "Team Search", :type => "submit" }
  %br
  Browse by:
  %a{ :href => "/browse?league=Women" } Women
  |
  %a{ :href => "/browse?league=Men" } Men
  |
  %a{ :href => "/browse?league=Coed" } Coed
%div{ :style => "float:right; padding: 8px" }
  %strong Sign In
  %form{ :method => "post", :action => '/player/sign_in' }
    %table
      %tr
        %td Email:
        %td
          %input{ :type => "text", :name => "email_address" }
      %tr
        %td Password:
        %td
          %input{ :type => "password", :name => 'password' }
      %tr
        %td
          %input{ :type => 'submit', :value => 'Sign In' }
