%article{ :class => "full-block" }
  .article-container
    %header
      %h2 Login
    %section
      %form{ :action => '/player/login', :method => 'post' }
        %dl
          %dt
            %label Email Address:
          %dd
            %input{ :type => 'text', :name => 'email_address', :value => @player && @player.email_address }
          %dt
            %label Password:
          %dd
            %input{ type: "password", name: 'password' }
          %dt
        %button Login
