
%h2 Login
.span5
  %form.form-horizontal{ :action => '/player/login', :method => 'post' }
    .control-group
      .controls
        %input.input-xlarge{ :type => 'email', :name => 'email_address', placeholder: "Email" }
    .control-group
      .controls
        %input.input-xlarge{ type: "password", name: 'password', placeholder: "Password" }
    .control-group
      .controls
        %button{ class: "btn btn-primary" } Login
        %a.pull-right{ href: '/player/forgot_password' } Forgot your password?
