%script{ :type => "text/javascript", :src => "/js/openid-jquery.js" }
%script{ :type => "text/javascript" }
  $(document).ready(function() {
  openid.init('openid_identifier');
  });
  - #<!-- /Simple OpenID Selector -->

.grid_12
  -# <!-- Simple OpenID Selector -->
  %form{ :action => "/login/openid", :method => "get", :id => "openid_form" }
    %input{ :type => "hidden", :name => "action", :value => "verify" }
    %fieldset
      %legend Sign-in or Create New Account
      #openid_choice
        %p Please click your account provider:
        #openid_btns
      #openid_input_area
        %input{ :id => "openid_identifier", :name => "openid_identifier", :type => "text", :value =>"http://" }
        %input{ :id => "openid_submit", :type => "submit", :value => "Sign-In" }
        %noscript
          %p
            OpenID is service that allows you to log-on to many different websites using a single indentity.
            Find out 
            %a{ :href => "http://openid.net/what/" } more about OpenID
            and 
            %a{ :href => "http://openid.net/get/" } how to get an OpenID enabled account

