%h2 Login
%form.form-inline{ :action => '/player/login', :method => 'post' }
  %input{ :type => 'text', :name => 'email_address', placeholder: "Email Address" }
  %input{ type: "password", name: 'password', placeholder: "Password" }
  %button{ class: "btn btn-primary" } Login
