- title 'create your account'
.directions
  Thank you for joining Pickle Spears, the best way to keep track
  of your weekend activities.
  %br
  %br
  Fill out the form to your left and then click create to create your profile.
.create_form
  %h3 New to Pickle Spears?  Create your account
  %form{ :method => 'post', :action => '/player/create' }
    = partial :user_edit
    %button{ :name => 'create_account', :value => 'Create Account' }
    %span.smaller * = Required field
