- title 'sign in'
%form{ :method => "post" }
  Username:
  %input{ :type => "text", :name => "username" }
  %br Password:
  %input{ :type => "password", :name => 'password' }
  %br
  %input{ :type => 'submit', :value => 'Sign In' }

