!dark_pickle = #a7dd68
!light_pickle = #ede9ed

body
  font-family: Arial, Sans Serif
  font-size: smaller
  padding: 0px
  margin: 0px

span.smaller
  font-size: smaller

div.division
  border-style: dashed
  border-width: thin
  font-size: larger
  background-color: = !light_pickle
  margin-top: 2em
  padding: .5em

div.main
  text-align: center
  width: 300px
  float: left
  margin-left: 4em

div.error
  background-color: red
  font-weight: bold
  text-align: center

div.header
  background-color = !dark_pickle
  padding-left: 8px
  padding-top: 8px
  padding-right: 8px
  padding-bottom: 6px
  margin-bottom: 4px
  border-bottom: thin solid black

div.user_info
  float: left
  margin: 4px
  background-color = !light_pickle
  border-bottom: thin solid #254117
  border-top: thin solid #254117
  width: 250px

table
  width: 100%

th.team_header
  background-color = !dark_pickle
  border-top: thin solid black
  padding: 4px

div.create_form
  float: left
  margin-top: 3em
  width: 500px

div.directions
  float: left
  margin: 2em
  width: 350px
