body
  font-family: Arial, Sans Serif
  font-size: smaller
  padding: 0px
  margin: 0px

span.smaller
  font-size: smaller

div.division
  border-style: dashed
  border-width: thin
  font-size: larger
  background-color: #ccccff
  margin-top: 2em
  padding: .5em

div.main
  position: absolute
  text-align: center
  left: 50%
  width: 300px
  margin-left: -150px

div.error
  background-color: red
  font-weight: bold

div.header
  background-color: #54C571
  padding-left: 8px
  padding-top: 8px
  padding-right: 8px
  padding-bottom: 6px
  margin-bottom: 4px
  border-bottom: thin solid black

div.user_info
  float: left
  margin: 4px
  background-color: #C3FDB8
  border-bottom: thin solid #254117
  border-top: thin solid #254117

table
  width: 100%

td.team_header
  background-color: #54C571
  border-top: thin solid black
  padding: 4px
