- title "Edit @team.name"
.grid_3 &nbsp;
.grid_6
  %form{ :method => 'post', :action => '/team/update' }
    %input{ :type => :hidden, :name => :team_id, :value => @team.id }
    Name:
    %input{ :type => :text, :name => :name, :value => @team.name }
    %br
    Division:
    %select{ :name => 'division_id' }
      - @divisions.each do |division|
        - if division.id == @team.division_id
          %option{ :value => division.id, :selected => :selected  }= division.name
        - else
          %option{ :value => division.id }= division.name
    %br
    %input{ :type => :submit, :name => :update, :value => 'Update' }
    %br
  All Games:
  %ul
    - @team.games.all(:order => [ :date.desc ]).each do |game|
      %li= game.description
.grid_3 &nbsp;
.clear