%table
  %tr
    %td Full Name*:
    %td
      %input{ :type => 'text', :name => 'name', :value => @player && @player.name }
  %tr
    %td Your Email*:
    %td
      %input{ :type => 'text', :name => 'email_address', :value => @player && @player.email_address }
  %tr
    %td Phone:
    %td
      %input{ :type => "text", :name => 'phone_number', :value => @player && @player.phone_number}
  %tr
    %td I am:
    %td
      %select{ :name => 'gender' }
        %option{ :value => '' }select sex
        %option{ :value => 'guy', :selected => @player && @player.gender == 'guy' }guy
        %option{ :value => 'gal', :selected => @player && @player.gender == 'gal' }gal
  %tr
    %td Zip Code:
    %td
      %input{ :type => "text", :name => 'zipcode', :value => @player && @player.zipcode }
  %tr
    %td Birthday:
    %td
      %input{ :type => "text", :name => 'birthdate', :value => @player && @player.birthdate }
  %tr
    %td Image:
    %td
      Add one at
      %a{ :href => 'http://en.gravatar.com/' } gravatar.com
      (That's what all the cool kids do)
      %img{ :src => "http://www.gravatar.com/avatar/#{@player.md5_email}" }

      
