%h3 Create new Season/Schedule
%form.form{ method: :post }
  %label Season Name
  %input{ type: :text, name: :season_name }

  %label Start Date
  = partial :date_input, locals: { name: :season_name, value: '' }

  %br
  %input.btn{ type: :submit, value: 'Next' }
