.row-fluid
  .offset1
    %h3 Create new Season/Schedule
    %form.form{ method: :post }
      %label Season Name
      %input{ type: :text, name: :name }

      %label Start Date
      = partial :date_input, locals: { name: :start_date, value: '' }

      %br
      %input.btn{ type: :submit, value: 'Next' }
