<%= error_messages_for 'team' %>

<!--[form:team]-->
<p><label for="team_name">Name</label><br/>
<%= text_field 'team', 'name'  %></p>

<p><label
for="division_id">Division</label><br/>
<%= select("team", "division_id", Division.find(:all).collect {|c| [c.name, c.id] }) %></p>
<!--[eoform:team]-->

