<% for column in Player.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @player.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @player %> |
<%= link_to 'Back', :action => 'list' %>
