- title "#{@player_from_request.name}'s homepage"
.row
  .span3
    %h3
      %a{ :href=> url_for('/player', { :id => @player_from_request.id }) }= @player_from_request.name
    %img{ :src => "http://www.gravatar.com/avatar/#{@player_from_request.md5_email}?s=200" }
    %br
    %h3 Teams
    %ul
      - @player_from_request.teams.each do |team|
        %li
          %a{ :href => url_for("/team", { 'team_id' => team.id.to_s }) }= team.name
  .span9
    = partial :upcoming_games, locals: { games: (@player_from_request.teams.map { |t| t.upcoming_games }).flatten.sort { |a, b| a.date <=> b.date }, player: @player == @player_from_request ? @player : nil }
